@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  box-sizing: border-box;
}

/* input {
  text-align: right;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans Arabic', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(129, 129, 129)),
      color-stop(0.72, rgb(55, 55, 55)),
      color-stop(0.86, rgb(30, 30, 30)));
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  left: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 90, 173, 0.11) -74.71%, rgba(0, 0, 0, 0.11) 25.29%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container>a {
  text-decoration: none;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
}

header .logo p {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: black;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav .toggle-menu {
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header nav ul li a {
  width: 94px;
  text-align: center;
  padding: 2px 4px;
  display: block;
  text-decoration: none;
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  border-radius: 7px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

header nav ul li a:hover {
  background-color: rgb(222 225 227);
  padding: 7px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
    grid-gap: 37px;
    text-align: center;
  }
}

.show1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72%;
  left: 55%;
  width: 40%;

}

.show2 {
  width: 108%;
}

.show3 {
  padding: 10px;
  background: none;
  border-radius: 0;
  backdrop-filter: blur(0px);
  font-size: 14px;
  width: 93%;
  border: 1px solid;
}

.landing-info .container {
  text-align: end;
}

.container .title {
  margin-bottom: 100px;
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 116px;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.landing-info .container .user-details {
  padding-top: 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 37px;
  text-align: center;
}

.form1 {
  position: relative;
  width: 100%;
}

.imageCV {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  padding: 15px;
  height: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-label {
  position: absolute;
  left: 50px;
  color: #b0b0b0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label2 {
  position: absolute;
  left: 440px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label3 {
  position: absolute;
  left: 820px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(0.8rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 992px) and (max-width: 1198px) {
  .user-label {
    position: absolute;
    left: 33px;
  }

  .user-label2 {
    position: absolute;
    left: 370px;
  }

  .user-label3 {
    position: absolute;
    left: 705px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .user-label {
    position: absolute;
    left: 33px;
  }

  .user-label2 {
    position: absolute;
    left: 405px;
  }

  .user-label3 {
    position: absolute;
    left: 405px;
  }
}

@media (max-width: 767px) {
  .user-label {
    position: absolute;
    left: 80px;
  }

  .user-label2 {
    position: absolute;
    left: 80px;
  }

  .user-label3 {
    position: absolute;
    left: 80px;
  }
}

.container .user-details .input-box input {
  width: 300px;
  height: 50px;
  border: solid 1.5px #9e9e9e;
  border-radius: 0.5rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: rgb(176 159 159);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  outline: none;
  border: 1.5px solid #000000;
}

.user-details .input-box input:focus~label,
.user-details .input-box input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #f5f5f5;
  padding: 0px 0.2em;
  color: rgb(10, 10, 10);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.personal-desc {
  grid-row: 3/5;
}

.row-2 {
  height: 115px !important;
}

@media (max-width: 992px) {
  .landing-info .container .user-details {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .landing-info .container .user-details {
    grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  .landing-info .container .user-details .input-box-name {
    grid-row: 1/1;
  }

  .landing-info .container .user-details .input-box-phone {
    grid-row: 2/2;
  }

  .landing-info .container .user-details .input-box-start {
    grid-row: 11/11;
  }

}

.line {
  width: 100%;
  height: 1px;
  background: #878787;
  position: relative;
  top: 52px;
  margin: auto;
}








.form2 {
  margin-top: 100px;
}

.user-details2 {
  display: flex;
  justify-content: space-between;
}

.input-box2 input {
  padding: 14px;
  width: 450px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 7px;
}


.Artistic_skills,
.Personal_skills,
.important_skill,
.lang_skill {
  display: flex;
  flex-wrap: wrap;
  width: 445px;
}

.resp_skill {
  width: 300px;
}

.input-box2 .add-skills_input2,
.add-skills_input2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .input-box2 input {
    width: 335px;
  }
}

@media (max-width: 767px) {
  .input-box2 input {
    width: 300px;
  }

  .user-details2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-details2 .input-box2 {
    margin-bottom: 10px;
  }
}

.form3 {
  margin: auto;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 7px solid #878787;
  border-radius: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.user-details3 {
  display: flex;
  justify-content: space-between;
  width: 670px;
}

@media (max-width: 767px) {
  .user-details3 {
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
  }
}


.threeAria {
  grid-row: 1/4;
}



.user-details3 .input-box3 input {
  padding: 10px;
  width: 295px;
  height: 39px;
  background: #FFFFFF;
  border-radius: 7px;
  margin: 10px;
}

.form4 {
  margin: auto;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 7px solid #878787;
  border-radius: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.user-details4 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 37px;
  text-align: center;
}

.towAria {
  grid-row: 1/3;
}


.user-details4 .input-box4 input {
  padding: 10px;
  width: 295px;
  height: 39px;
  background: #FFFFFF;
  border-radius: 7px;
}

.tow-aria {
  height: 115px !important;
}

.form5 {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.user-details5 {
  border: 1px solid #606060;
  border-radius: 10px;
  padding: 20px;
  background: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
}

.input-box5 input {
  padding: 14px;
  width: 450px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 7px;
}

.list-form {
  min-width: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  flex-direction: row-reverse;
  border: 2px solid #b1b1b1;
  margin: 6px;
  padding: 10px;
  border-radius: 7px;
}

@media (max-width: 767px) {
  .list-form {
    width: 265px;
  }

  .Artistic_skills,
  .Personal_skills,
  .important_skill,
  .lang_skill {

    width: 330px;
  }
}

.history {
  grid-row: 3/1;
}

.form3 p,
.form4 p {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #8F8F8F;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .input-box5 input {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .form5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .user-details5 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .user-details3 {
    grid-template-columns: auto;
    grid-gap: 37px;
  }

  .form3 {
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #878787;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  }

  .user-details4 .input-box4 input {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .user-details4 {
    grid-template-columns: auto;
    grid-gap: 37px;
  }

  .form4 {
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #878787;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  }
}

.personal-history {
  grid-column: 2/3;
}

.footer {
  background-color: #EBEBEB;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 60px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  text-align: center;
}

.footer .container .box-footer h3 {
  color: #000000;
  margin-bottom: 40px;
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.footer .container .box-footer h3::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #000000;
  bottom: -20px;
  left: 19%;
}

.footer .container .box-footer p {
  color: #000000;
  font-style: normal;
  font-weight: 670;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.025em;
}

.icons-footer img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
    grid-gap: 37px;
    text-align: center;
  }
}

.HiddenInput1,
.HiddenInput2,
.HiddenInput3,
.HiddenInput4,
.HiddenInput51,
.HiddenInput52,
.HiddenInput53,
.HiddenInput41,
.HiddenInput42,
.HiddenInput43 {
  display: none;
}

.fa-minus {
  display: flex !important;
  justify-content: center !important;
  padding: 4px !important;
  border: 1px solid !important;
  border-radius: 50% !important;
  background: #ffac8f !important;
  margin-top: 2px;
  margin: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.inc {
  padding: 5px !important;
  border: 1px solid !important;
  border-radius: 50% !important;
  background: #c9ffed;
  cursor: pointer;
}


.inc1 {
  margin-left: 5px;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  z-index: -1;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.button {
  position: relative;
  left: -50%
}

.button {
  transform: translateX(50%);
  --color: #EBEBEB;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: #000000;
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}
